@media screen and (min-width: 720px) {
  body {
    background-color: rgb(223, 96, 168);
  }
  .footer {
    background-color: chartreuse;
    font-size: 24px;
    border: solid 3px black;
    grid-column: 1 / 4;
  }
  .header {
    background-color: rgb(82, 221, 140);
    font-size: 24px;
    border: solid 3px black;
    grid-column: 1 / 4;
  
  }

  .main {
    background-color: rgb(243, 245, 124);
    font-size: 24px;
    border: solid 3px black;
    grid-column: 1 / 3;
  }

  .widget-area {
    background-color: rgb(228, 147, 192);
    font-size: 24px;
    border: solid 3px black;
  
  }

  .grid-container {
    display: grid;
    grid-template-rows: 200px 600px 100px;
    grid-template-columns: auto auto;
    text-align: center;
    grid-gap: 4px;
  }
}
