@media screen and (min-width: 320px) {
  body {
    background-color: rgb(128, 187, 243);
  }
  .footer {
    background-color: chartreuse;
    font-size: 24px;
    border: solid 1px black;
  }
  .header {
    color: black;
    background-color: rgb(82, 221, 140);
    font-size: 24px;
    border: solid 1px black;
  }

  .main {
    color: darkblue;
    background-color: rgb(243, 245, 124);
    font-size: 24px;
    border: solid 1px black;
  }

  .widget-area {
    background-color: rgb(228, 147, 192);
    font-size: 24px;
    border: solid 1px black;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 150px 400px 200px 150px;
    grid-template-columns: auto;
    text-align: center;
    grid-gap: 4px;
  }
}
