body {
  background-color: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::before {
  content: "";
  color: #4a90e2;
  display: block;
  border-radius: 200px 0px 0px 200x;
  -moz-border-radius: 200px 0px 0px 200px;
  -webkit-border-radius: 200px 0px 0px 200px;
  height: 10px;
  width: 10px;
  border: 10px solid #4a90e2;
  background: #4a90e2;
  margin: 10px;
  position: absolute;
}

h1::after {
  content: "";
  color: #4a90e2;
  display: inline-block;
  border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;
  height: 10px;
  width: 10px;
  border: 10px solid #4a90e2;
  background: #4a90e2;
  margin: 10px;
  position: absolute;
}
